.red-rose-regular {
    font-family: "Red Rose", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

.tenor-sans-regular {
    font-family: "Tenor Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.gruppo-regular {
    font-family: "Gruppo", sans-serif;
    font-weight: 400;
    font-style: normal;
}