@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-default-green{
  @apply bg-gradient-to-b from-green-800 to-green-950 via-green-400 text-white content-center;
}

.bg-default-blue{
  @apply bg-gradient-to-r  from-blue-500 hover:from-blue-300 via-blue-600 hover:via-blue-500  to-blue-500 hover:to-blue-300 text-white text-center content-center items-center justify-items-center;
}

.border-default-violet{
  @apply bg-gradient-to-r from-violet-500 via-violet-300 to-violet-500 p-1 rounded-xl w-fit;
}

.background-image{
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}